.mainContainer
  %nav.navBanner
    %ul.navLeft
      %span link
    %ul.navRight
      %span link
  .bgBanner
    .titleBox
      %h1 Busbee
    .logoBox
      %img{:alt => "", :src => "http://cdn.dice.com/wp-content/uploads/2013/07/space-thumbnail.jpg"}
  .middleBanner
    %span EMPLOYEES
  .employeeCon
    .picBox
      -@employees.each do |e|
        =link_to employee_folders_path(e) do
          =image_tag(e.gravatar_url)
          = "#{e.fname} #{e.lname}"
  .bottomBannerEmp
    %span Busbee 2014
