.mainContainer
  %nav.navBanner
    %ul.navLeft
      %span
        =link_to 'HOME', root_path
    %ul.navRight
      %span link
  .bgBanner
    .titleBox
      .logo=image_tag('logo.png')
  .middleBanner
    %span MY FOLDERS
  %nav.folderActions
    %ul.boxLeft
      %li
        =link_to image_tag("add-folder-icon.png"), new_employee_folder_path(current_employee)
    %ul.boxRight
      %li
        %img{:alt => "", :src => "https://cdn2.iconfinder.com/data/icons/picons-basic-2/57/basic2-068_grid_view-128.png"}/
      %li
        %img{:alt => "", :src => "http://www.uplooder.net/images/filedetails_benefit.png"}/
  .folderCon
    -@folders.each do |e|
      .folderTopBox
        =link_to image_tag('folder-image.png'), folder_path(e)
      .folderBottomBox
  .bottomBanner
    %span Busbee 2014
