/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
  position: relative;
  z-index: 1;
  height: 1000px;
  overflow: auto;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("http://cl.ly/image/0w2r1m3s3i21/800px-Atlanta_Skyline_from_Buckhead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  width: 100%;
}

.titleBox {
  text-align: center;
  width: 500px;
  margin: 100px auto 0 auto;
  border: 5px solid white;
  color: white;
}

.inputBox {
  margin: 300px auto;
  border: 5px solid white;
  color: white;
}

.comBox {
  float: left;
  margin-left: 200px;
  display:inline-block;
  border: 5px solid white;
  color: white;
}

.passBox {
  float: left;
  display:inline-block;
  margin-left: 200px;
  border: 5px solid white;
  color: white;
}

.appBox {
  clear: both;
  width: 250px;
  margin: 0 auto;
  border: 5px solid white;
  color: white;

  button {

  }


  img {
    float: left;
    width: 10%;
  }
}


/*****************************************************************************************     Custom Styles - EMPLOYEE PAGE ******************************************************************************************/

.navBanner {
  overflow: auto;
  background-color: gray;
  padding: 15px 0px;

  .navLeft {
    float: left;
    padding: 0px;
    margin-left: 50px;
  }

  .navRight {
    float: right;
    padding: 0px;
    margin-right: 50px;
  }

    li {
      margin-right: 40px;
    }

  li {
    float: left;
    list-style-type: none;
    color: white;
  }
}

.mainBanner {
  clear: both;
  position: relative;
  z-index: 1;
  height: 400px;
  overflow: hidden;

  .bgEP {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("http://cl.ly/image/0w2r1m3s3i21/800px-Atlanta_Skyline_from_Buckhead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
  }

  .titleBoxEP {
    text-align: center;
    width: 500px;
    margin: 50px auto 0 auto;
    border: 5px solid white;
    color: white;
  }

  .logoBox {
    display: block;
    margin: 140px auto 0 auto;
    text-align: center;
  }
}

.folderBanner {
  background-color: gray;
  text-align: center;
  padding: 30px 0px;

  span {
    font-size: 40px;
    color: white;
  }
}

.folderActions {
  overflow: auto;

  .boxLeft {
    float: left;
    padding: 0px;
    margin-left: 50px;
  }

  .boxRight {
    float: right;
    padding: 0px;
    margin-right: 50px;
  }

    li {
      margin-right: 40px;
      list-style-type: none;
    }

  li {
    float: left;
    width: 50px;
  }

  img {
    width: 100%;
  }
}

.folderCon {
  text-align: center;

  .folderTopBox img, .folderBottomBox img {
    margin: 40px 40px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
  }
}


/*****************************************************************************************     Custom Styles - COMPANY PAGE ******************************************************************************************/

.navBanner {
  overflow: auto;
  background-color: gray;
  padding: 15px 0px;

  .navLeft {
    float: left;
    padding: 0px;
    margin-left: 50px;
  }

  .navRight {
    float: right;
    padding: 0px;
    margin-right: 50px;
  }

    li {
      margin-right: 40px;
    }

  li {
    float: left;
    list-style-type: none;
    color: white;
  }
}

.mainBanner {
  clear: both;
  position: relative;
  z-index: 1;
  height: 400px;
  overflow: hidden;

  .bgEP {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("http://cl.ly/image/0w2r1m3s3i21/800px-Atlanta_Skyline_from_Buckhead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
  }

  .titleBoxEP {
    text-align: center;
    width: 500px;
    margin: 50px auto 0 auto;
    border: 5px solid white;
    color: white;
  }

  .logoBox {
    display: block;
    margin: 140px auto 0 auto;
    text-align: center;
  }
}

.folderBanner {
  background-color: gray;
  text-align: center;
  padding: 30px 0px;

  span {
    font-size: 40px;
    color: white;
  }
}

.folderCon {
  text-align: center;

  .folderTopBox img, .folderBottomBox img {
    margin: 40px 40px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
  }
}

/*****************************************************************************************     Custom Styles - FOLDER PAGE ******************************************************************************************/

.navBanner {
  overflow: auto;
  background-color: gray;
  padding: 15px 0px;

  .navLeft {
    float: left;
    padding: 0px;
    margin-left: 50px;
  }

  .navRight {
    float: right;
    padding: 0px;
    margin-right: 50px;
  }

    li {
      margin-right: 40px;
    }

  li {
    float: left;
    list-style-type: none;
    color: white;
  }
}

.mainBanner {
  clear: both;
  position: relative;
  z-index: 1;
  height: 400px;
  overflow: hidden;

  .bgEP {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("http://cl.ly/image/0w2r1m3s3i21/800px-Atlanta_Skyline_from_Buckhead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
  }

  .titleBoxEP {
    text-align: center;
    width: 500px;
    margin: 50px auto 0 auto;
    border: 5px solid white;
    color: white;
  }

  .logoBox {
    display: block;
    margin: 140px auto 0 auto;
    text-align: center;
  }
}

.folderBanner {
  background-color: gray;
  text-align: center;
  padding: 30px 0px;

  span {
    font-size: 40px;
    color: white;
  }
}

.folderCon {
  text-align: center;

  .folderTopBox img, .folderBottomBox img {
    margin: 40px 40px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
  }
}

/*****************************************************************************************     Custom Styles - SIGN UP PAGE ******************************************************************************************/

.navBanner {
  overflow: auto;
  background-color: gray;
  padding: 15px 0px;

  .navLeft {
    float: left;
    padding: 0px;
    margin-left: 50px;
  }

  .navRight {
    float: right;
    padding: 0px;
    margin-right: 50px;
  }

    li {
      margin-right: 40px;
    }

  li {
    float: left;
    list-style-type: none;
    color: white;
  }
}

.mainBanner {
  clear: both;
  position: relative;
  z-index: 1;
  height: 400px;
  overflow: hidden;

  .bgEP {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("http://cl.ly/image/0w2r1m3s3i21/800px-Atlanta_Skyline_from_Buckhead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
  }

  .titleBoxEP {
    text-align: center;
    width: 500px;
    margin: 50px auto 0 auto;
    border: 5px solid white;
    color: white;
  }

  .logoBox {
    display: block;
    margin: 140px auto 0 auto;
    text-align: center;
  }
}

.folderBanner {
  background-color: gray;
  text-align: center;
  padding: 30px 0px;

  span {
    font-size: 40px;
    color: white;
  }
}

.folderCon {
  text-align: center;

  .folderTopBox img, .folderBottomBox img {
    margin: 40px 40px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
  }
}

/*****************************************************************************************     Custom Styles - SIGN UP PAGE ******************************************************************************************/

.navBanner {
  overflow: auto;
  background-color: gray;
  padding: 15px 0px;

  .navLeft {
    float: left;
    padding: 0px;
    margin-left: 50px;
  }

  .navRight {
    float: right;
    padding: 0px;
    margin-right: 50px;
  }

    li {
      margin-right: 40px;
    }

  li {
    float: left;
    list-style-type: none;
    color: white;
  }
}

.mainBanner {
  clear: both;
  position: relative;
  z-index: 1;
  height: 400px;
  overflow: hidden;

  .bgEP {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("http://cl.ly/image/0w2r1m3s3i21/800px-Atlanta_Skyline_from_Buckhead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
  }

  .titleBoxEP {
    text-align: center;
    width: 500px;
    margin: 50px auto 0 auto;
    border: 5px solid white;
    color: white;
  }

  .logoBox {
    display: block;
    margin: 140px auto 0 auto;
    text-align: center;
  }
}

.folderBanner {
  background-color: gray;
  text-align: center;
  padding: 30px 0px;

  span {
    font-size: 40px;
    color: white;
  }
}

.folderCon {
  text-align: center;

  .folderTopBox img, .folderBottomBox img {
    margin: 40px 40px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
  }
}
